{% extends "base.html" %}
{% block content %}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body style="background-color: lightgray">
		<div class="container" style="margin-top:50px; border: 1px solid black; background-color: white">

			<h1>About us</h1>
			<div style="width: 100%; height: 1px; border: 1px solid black"></div>
			<p style="height: 20px"></p>
			<article>
				<h3>Who are we?</h3>
				We are a small development team, trying our best.
			</article>
			<p style="height: 20px"></p>
			<aside>
				<h3>Really?</h3>
				No.
			</aside>
			<p style="height: 20px"></p>
			<section>
				<h3>What do you mean "no"?</h3>
				We aren't a "development team", and we aren't trying our best.
			</section>
			<p style="height: 20px"></p>
			<h1>Frequently asked questions (FAQ)</h1>
			<div style="width: 100%; height: 1px; border: 1px solid black"></div>
			<p style="height: 20px"></p>
			<article>
				<h3>Can I see all the users in a table made in HTML with the tags "table", "th", "tr", "td"?</h3>
				<a href="/table">No.</a>
			</article>
			<p style="height: 20px"></p>
			<aside>
				<h3>Weather?</h3>
				...
				<a href="http://www.idokep.hu/" target="_blank" title="Időjárás"><img src="//www.idokep.hu/terkep/hu_mini/i_anim.gif" alt="Felhőkép"></a>
			</aside>
			<p style="height: 20px"></p>
			<aside>
				<h3>Video?</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/UmljXZIypDc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</aside>
			<p style="height: 20px"></p>
			<section>
				<h3>Hotel?</h3>
				Trivago.
			</section>
			<p style="height: 40px"></p>
		</div>
	</body>
{% endblock content %}