{% extends "base.html" %}
{% block content %}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color: lightgray">
    <div class="container" style="margin-top:50px; border: 1px solid black; background-color: white; height: 600px">
      <h1>Here's your friend!</h1>
      <div style="width: 100%; height: 1px; border: 1px solid black"></div>
      <div style="float: left; width: 40%">
          <p></p>
          <div style="width: 250px; height: 250px; border: 1px solid black; object-fit:fill; overflow: hidden">
            <img src="{{ Profile.user.profile.image.url }}" style="width: 100%; height: 100%"> <!--random user's data-->
          </div>
          <p style="height: 20px"></p>
          <h3>{{ Profile.user.first_name }} {{ Profile.user.last_name }}, {{Profile.user.profile.year_in_school}}.{{Profile.user.profile.class_in_school}}</h3> <!--random user's data-->
          <h4 style="font-style: italic">alias "{{ Profile.user.username }}"</h4> <!--random user's data-->
          <p style="height: 20px"></p>
          <h5>Email: <p style="font-style: italic">{{ Profile.user.email }}</p></h5> <!--random user's data-->
      </div>
      <div style="float: left; width: 60%; height: 500px">
        <p></p>
        <div style="height: 250px; border: 1px solid black">
          <p>{{ Profile.user.profile.desc }}</p> <!--random user's data-->
        </div>
      </div>
   </div>
  </body>
{% endblock content %}