{% extends "base.html" %}
{% block content %}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
        <h1>Privacy Policy</h1>
        <p>SMS Szent István (His Majesty's Ship Saint Stephen)[a] was the last of four Tegetthoff-class dreadnought battleships built for the Austro-Hungarian Navy. Szent István was the only ship of her class to be built within the Hungarian part of the Austro-Hungarian Empire, a concession made to the Hungarian government in return for its support for the 1910 and 1911 naval budgets which funded the Tegetthoff class. She was built at the Ganz-Danubius shipyard in Fiume, where she was laid down in January 1912. She was launched two years later in 1914, but Szent István's construction was delayed due to the smaller shipyards in Fiume, and further delayed by the outbreak of World War I in July 1914. She was finally commissioned into the Austro-Hungarian Navy in December 1915.

            Armed with a main battery of twelve 30.5 cm (12.0 in) guns in four triple turrets, Szent István was assigned to the 1st Battleship Division of the Austro-Hungarian Navy upon her commissioning. Alongside the other ships of her class, she was stationed out of the Austro-Hungarian naval base at Pola. Szent István's commissioning into the fleet came too late for her to participate in the Bombardment of Ancona following Italy's declaration of war on Austria-Hungary in May 1915, and she saw little combat for the rest of the war due to the Otranto Barrage, which prevented the Austro-Hungarian Navy from leaving the Adriatic Sea.
            
            In June 1918, in a bid to ensure safer passage for German and Austro-Hungarian U-boats through the Strait of Otranto, the Austro-Hungarian Navy attempted to break the Barrage. This attack was to be spearheaded by all four ships of the Tegetthoff class but was abandoned after Szent István and her sister ship, Tegetthoff were attacked by Italian motor torpedo boats on the morning of 10 June. While Tegetthoff was unharmed, Szent István was struck by two torpedoes launched from MAS-15, and capsized roughly three hours later off the island of Premuda. She is the only battleship whose sinking was filmed during World War I.
            
            The ship's wreck was located in the mid-1970s by the Yugoslav Navy. She lies upside down at a depth of 66 metres (217 ft). Her bow broke off when it hit the seabed while the stern was still afloat, but is immediately adjacent to the rest of the heavily encrusted hull. She is a protected site of the Croatian Ministry of Culture. </p>
	</body>
{% endblock content %}