{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<style>
		.fakeimg {
		  height: 200px;
		  background: #aaaaaa;
		}
		</style>
	</head>
	<body>
	<div class="container" style="margin-top:50px; border: 1px solid black" >
		<div class="row">
		  <div class="col-sm-4" style="border: 1px solid black">
			<h2>Profile picture</h2>
			<img src="{{ user.profile.image.url }}" height="200px" style="border: 1px solid black">
			<p style="color: red">Please do not use your penis as your profile picture</p>
			<h3>Personal info:</h3>
			<h4>Username:</h4>
			<p>{{ user.username }}</p> 
			<h4>First name:</h4>
			<p>{{ user.first_name }}</p>
			<h4>Last name:</h4>
			<p>{{ user.last_name }}</p>
			<h4>Email address:</h4>
			<p>{{ user.email }}</p>	
		  </div>
		  <div class="col-sm-8" style="border: 1px solid black">
			<h2>Description</h2>
			<div style="border: 1px solid black">{{ user.profile.desc }}</div>
			<p>Make it short cuz django no like hosszú szöveg</p>
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
				{{ u_form|crispy }}
				{{ p_form|crispy }}
				</fieldset>
				<button type="submit">Update</button>
				<p>* why cant i remove this fucking star</p>
			</form>
		  </div>
		  
		</div>
	</div> 
	</body>
{% endblock content %}