{% extends "base.html" %}
{% block content %}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
        <h1>Terms of Use of SzlgHub</h1>
        <p>The 9×25mm Danuvia submachine gun was designed by Hungarian engineer Pál Király in the late 1930s. The guns were issued to Hungarian army troops in 1939 and remained in service throughout World War II and until the early 1950s. A total of roughly 8,000 were made between 1939 and 1945. The Danuvia was a large, sturdy weapon, similar to a carbine. Inspired by the SIG MKMS,[4] the Danuvia used the more powerful 9×25mm Mauser round, and incorporated lever-delayed blowback in order to better manage this high energy cartridge. The Danuvia's magazine can be folded forward into a recess in the stock where a plate then slides over it.[3]

            The gun was well-liked by troops it was issued to; it reportedly functioned well in the sub-zero, muddy conditions on the Eastern Front. The only difficulty was the availability of 9×25mm Mauser ammunition. It was used by the Hungarian army, military police and police forces and stayed in service until the early 1950s when it was gradually replaced by the PPSh-41 and the Kucher K1. </p>
	</body>
{% endblock content %}